@import './colors.scss';

.topbar {
  border-bottom: solid $ash 2px;
  margin-bottom: 2em;
  background: $black;
  color: 
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $white;
    text-decoration: none;
  }
  a:visited {
    color: $white;
    text-decoration: none;
  }
}
